body{
    background: lightblue;
}

h1{
    text-align: center;
}

h2{
    text-decoration: underline;
    color:navy;
}

h3{
    color: rgb(122, 92, 120);
    font-family: 'Courier New', Courier, monospace;
}

